<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cen3031.blast"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/blast_icon"
        android:label="@string/app_name">
       <!--  android:theme="@android:style/Theme.Holo"--> 
        <activity
            android:name="com.cen3031.blast.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cen3031.blast.PlayMenuActivity"
            android:label="@string/title_activity_play_menu" >
        </activity>
        <activity
            android:name="com.cen3031.blast.SettingsMenuActivity"
            android:label="@string/title_activity_settings_menu" >
        </activity>
        <activity
            android:name="com.cen3031.blast.HelpMenuActivity"
            android:label="@string/title_activity_help_menu" >
        </activity>
        <activity
            android:name="com.cen3031.blast.DeviceListActivity"
            android:label="@string/title_activity_device_list" >
        </activity>
        <activity
            android:name="com.cen3031.blast.BluetoothChat"
            android:label="@string/title_activity_bluetooth_chat" >
        </activity>
        <activity
            android:name="com.cen3031.blast.BluetoothChatService"
            android:label="@string/title_activity_bluetooth_chat_service" >
        </activity>
        <activity android:name="com.cen3031.blast.ActiveGameMenuActivity"></activity>
        <activity android:name="com.cen3031.blast.GameState"></activity>
        <activity android:name="com.cen3031.blast.GameStateArrayAdaptor"></activity>
    </application>

</manifest>